.animated_div
    {
    width:60px;
    height:40px;
    color:#ffffff;
    position:relative;
    font-weight:bold;
    padding:20px 10px 0px 10px;
    float:left;
    margin:20px;
    margin-right:50px;
    border:1px solid #888888;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font:12px Verdana, Arial, Helvetica, sans-serif;
    text-align:center;
    vertical-align:middle;
    -webkit-transform:translate3d(0, 0, 0);
    }

#rotate1,#rotatey1
    {
    border:1px solid #000000;
    background:red;
    margin:10px;
    opacity:0.7;
    }